@media screen and (max-width: 760px){
    
    .navbar-brand{
        display: none;
        }

        .img-perfil {
            width: 50vw;
            margin-top: -5%;
            margin-left: 48%;
          }
          .soyj {
            margin-top: -35%;
            margin-left: 0.4%;
            font-size: 4.5vw;
        }
        .hero-principal h2 {
            font-size: 1.5rem;
            font-weight: bold;
            color: rgb(54, 5, 5);
            margin-left: -3%;
            margin-top:40%;
            text-align: center;
          }

           


}

@media screen and ( min-width: 700px) {
    .hero-inferior-img{
        max-width: 600px;
    }
    }

@media screen and (max-width: 400px) {
    .overlay p{
        font-size: 18px;
    }
    .overlay i{
        font-size: 40px;
    }
}