@media screen and (max-width: 760px){
    
    .navbar-brand{
        display: none;
        }

        .soyj {
            margin-top: -40%;
            margin-left: -40%;
           }

           .hero-principal h2 {
            font-size: 0.9em;
            margin-left: -40%;
          }

        .testimonio-img{
            height: 110px;
            width: 110px;
        }
        .testimonio-texto{
            font-size: 18px;
        }

}

@media screen and ( min-width: 700px) {
    .hero-inferior-img{
        max-width: 600px;
    }
    }

@media screen and (max-width: 400px) {
    .overlay p{
        font-size: 18px;
    }
    .overlay i{
        font-size: 40px;
    }
}